@import "tailwindcss";

body {
  margin: 0px;
}

.App{
  height: 100vh;
  background: linear-gradient(135deg, #ffffff 0%, #f9f9f9 100%);
}

#root {
  width: 100vw;
  height: 100vh;
  --color-primary: #2563eb;
  /* Azul principal */
  --color-secondary: #22c55e;
  /* Verde secundario */
  --color-accent: #f97316;
  /* Naranja de acción */
  --color-muted: #888888;

  --color-grey: #2C2C2C;

  --color-muted-light: #cccdcf;
  /* Gris suave */
  --color-contrast-light: #ffffff;
  /* Blanco puro */
  --color-contrast-dark: #0f172a;
  /* Azul muy oscuro */

  --font-display: 2.5rem;
  --font-headline: 1.875rem;
  --font-title: 1.5rem;
  --font-body: 1rem;
  --font-caption: 0.875rem;

  --font-weight-bold: 700;
  --font-weight-semi: 600;
  --font-weight-medium: 500;
  --font-weight-normal: 400;

  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 1.5rem;
  --padding-xlarge: 2rem;

  --border-radius: 0.5rem;
  --box-shadow-small: 0px 0px 8px rgba(0, 0, 0, 0.5);
  --box-shadow-medium: 0px 0px 5px rgba(0, 0, 0, 0.2);

  font-family: "Inter", sans-serif;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  padding: var(--padding-large);
  pointer-events: painted;
  top: 0;
}

.text-display {
  font-size: var(--font-display);
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
}

.text-headline {
  font-size: var(--font-headline);
  font-weight: var(--font-weight-semi);
  line-height: 1.3;
}

.text-title {
  font-size: var(--font-title);
  font-weight: var(--font-weight-semi);
  line-height: 1.4;
}

.text-subtitle {
  font-size: var(--font-body);
  font-weight: var(--font-weight-semi);
  line-height: 1.5;
}

.text-body {
  font-size: var(--font-body);
  font-weight: var(--font-weight-normal);
  line-height: 1.2
}

.text-hint {
  font-size: var(--font-body);
  font-weight: var(--font-weight-normal);
  line-height: 1.6;
  opacity: 0.5;
}

.text-caption {
  font-size: var(--font-caption);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
}

.text-link{
  font-size: var(--font-body);
  font-weight: var(--font-weight-normal);
  line-height: 1.6;
  text-decoration: underline;
  position: relative;
  display: inline-block;
}

.text-link::after {
  content: " →"; /* Puedes usar un símbolo como la flecha o un ícono de FontAwesome */
  margin-left: 0.1rem; /* Separación entre el texto y la flecha */
  position: absolute;
  transform: rotate(-0.125turn);
  font-weight: normal; /* Evita que la flecha tenga un peso extra */
  transition: transform 0.3s ease; /* Efecto de animación para el hover */
}

.border-simple {
  border: 1px solid var(--color-muted);
}

.padding {
  box-sizing: border-box;
  &.xl {
    gap: var(--padding-xlarge);
    &.all {
      padding: var(--padding-xlarge);
    }

    &.top {
      padding-top: var(--padding-xlarge);
    }

    &.bottom {
      padding-bottom: var(--padding-xlarge);
    }

    &.left {
      padding-left: var(--padding-xlarge);
    }

    &.right {
      padding-right: var(--padding-xlarge);
    }
  }

  &.l {
    gap: var(--padding-large);
    &.all {
      padding: var(--padding-large);
    }

    &.top {
      padding-top: var(--padding-large);
    }

    &.bottom {
      padding-bottom: var(--padding-large);
    }

    &.left {
      padding-left: var(--padding-large);
    }

    &.right {
      padding-right: var(--padding-large);
    }
  }

  &.m {
    gap: var(--padding-medium);
    &.all {
      padding: var(--padding-medium);
    }

    &.top {
      padding-top: var(--padding-medium);
    }

    &.bottom {
      padding-bottom: var(--padding-medium);
    }

    &.left {
      padding-left: var(--padding-medium);
    }

    &.right {
      padding-right: var(--padding-medium);
    }
  }

  &.s {
    gap: var(--padding-small);
    &.all {
      padding: var(--padding-small);
    }

    &.top {
      padding-top: var(--padding-small);
    }

    &.bottom {
      padding-bottom: var(--padding-small);
    }

    &.left {
      padding-left: var(--padding-small);
    }

    &.right {
      padding-right: var(--padding-small);
    }
  }


}

.shadow {
  box-shadow: var(--box-shadow-medium)
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  position: fixed;
}

.border{
  border-radius: var(--border-radius);
  border: 1px solid var(--color-muted-light);
  overflow: hidden;
  &.active{
    border: 1px solid var(--color-grey);
  }
}

.frame-flex{
  display: flex;
  width: 100%;
  &.vertical{
    flex-direction: column;
  }
  &.horizontal{
    flex-direction: row;
  }
  &.center{
    justify-content: center;
    align-items: center;
  }
  &.space-between{
    justify-content: space-between;
  }
  &.space-around{
    justify-content: space-around;
  }
  &.space-evenly{
    justify-content: space-evenly;
  }
  &.start{
    justify-content: flex-start;
    align-items: flex-start;
  }
  &.end{
    justify-content: flex-end;
    align-items: flex-end;
  }
  &.stretch{
    justify-content: stretch;
    align-items: stretch;
  }
  &.wrap{
    flex-wrap: wrap;
  }
  &.nowrap{
    flex-wrap: nowrap;
  }
  &.align-left{
    text-align: left;
  }
  &.align-right{
    text-align: right;
  }
  &.gap-s{
    gap: var(--padding-small);
  }
  &.gap-m{
    gap: var(--padding-medium);
  }
  &.gap-l{
    gap: var(--padding-large);
  }
  &.gap-xl{
    gap: var(--padding-xlarge);
  }
}

.frame-photo{
  height: 150px;
  object-fit: cover;
}

.ticket-photo{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  width: 100%;

  & .wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

.input-field {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  transition: all 0.3s ease;

  &:focus-within {
    border-color: var(--color-grey);
    box-shadow: var(--box-shadow-small);
  }

  & input {
    width: inherit;
    outline: none;
  }
}


.button{
  flex: 1;
  padding: var(--padding-small) var(--padding-medium);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-muted-light);
  transition: all 0.3s ease;

  &.primary{
    background-color: var(--color-grey);
    color: var(--color-contrast-light);
  }
  &.secondary{
    background-color: var(--color-contrast-light);

  }

  &:hover,:focus{
    background-color: var(--color-muted);
    color: var(--color-contrast-light);
  }
}

.footer{
  position: fixed;
  bottom: 0;
}

.quantity-button{
  &.disabled{
    color: var(--color-muted);
  }
}